
h1,h2,h3,h4,h5,h6,dl,dt,dd{ margin:0; padding:0; text-align:center }

.all-sort-list { position:relative; width:130px; border-top:none; padding:3px 3px 3px 0px; }
em{ font-style:normal; }
.all-sort-list .hover h3 { position:relative; line-height:40px; z-index:13; background:#FF6; border-color:#DDD; border-width:1px 0px; border-style:solid; }
.all-sort-list .item a { color:#000; text-decoration:none; }
.all-sort-list .item a:hover { font-weight:bold; color:#E4393C; }
a:link,a:visited { text-decoration:none; }
a:hover,a:active { text-decoration:underline; }
.all-sort-list .item-list { 
	display:none;
	position:absolute;
	width:400px;   <!--调节下拉栏宽度-->
	min-height:50px;
	_height:200px;
	background:#FFF;
	left:130px;   <!--调节下拉栏距离列表的距离-->
	box-shadow:0px 0px 10px #DDDDDD;
	border:1px solid #DDD;
	z-index:10;
}
.item-list .subitem { float:left; width:600px; padding:0px 4px 0px 8px; }
.item-list .subitem dl { border-top:1px solid #EEE; padding:6px 0px; overflow:hidden; zoom:1; }
.item-list .subitem .fore1 { border-top:none;  }

.item-list .subitem dt { float:left; width:80px; line-height:30px; text-align:right; padding:3px 6px 0px 0px; font-weight:700; color:#E4393C; }
.item-list .subitem dt a { color:#E4393C; }
.item-list .subitem dd { float:left; width:415px; padding:3px 0px 0px; overflow:hidden; text-decoration:none;}
.item-list .subitem dd em { float:left; height:14px; line-height:14px; padding:0px 8px; margin-top:5px; border-left:1px solid #CCC; }
.item-list .subitem dd em a, .item-list .cat-right dd a { color:#666; text-decoration:none; }
.item-list .subitem dd em a:hover, .item-list .cat-right dd a:hover { font-weight:normal; text-decoration:underline; }










